In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [5]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [6]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1] # number of predictors
n_cols

8

In [10]:
import keras

In [11]:
from keras.models import Sequential
from keras.layers import Dense

In [12]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [14]:
model = regression_model()
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 2ms/step - loss: 139418.9531
Epoch 2/50
23/23 [==============================] - 0s 2ms/step - loss: 62510.4961
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 21902.3184
Epoch 4/50
23/23 [==============================] - 0s 2ms/step - loss: 6253.4653
Epoch 5/50
23/23 [==============================] - 0s 2ms/step - loss: 2294.5012
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 1705.4060
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 1592.4844
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 1485.8754
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1389.4532
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 1295.3785
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 1205.6565
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 1123.2490
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 1043.3456
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 972.7209
Epoch 15/50
23/23 [==============================] - 0s 2ms/step - loss: 902.8711
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 845.0165
Epoch 17/50
23/23 [==============================] - 0s 2ms/step - loss: 786.4524
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 732.1384
Epoch 19/50
23/23 [==============================] - 0s 2ms/step - loss: 681.8851
Epoch 20/50
23/23 [==============================] - 0s 2ms/step - loss: 636.9787
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 593.6888
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 554.8721
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 516.9703
Epoch 24/50
23/23 [==============================] - 0s 2ms/step - loss: 483.2778
Epoch 25/50
23/23 [==============================] - 0s 2ms/step - loss: 451.4101
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 423.3803
Epoch 27/50
23/23 [==============================] - 0s 2ms/step - loss: 395.9982
Epoch 28/50
23/23 [==============================] - 0s 2ms/step - loss: 372.4488
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 349.2731
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 327.9584
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 309.2076
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 292.0576
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 276.2033
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 261.1697
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 248.1353
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 235.8259
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 225.6470
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 215.1604
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 206.1289
Epoch 40/50
23/23 [==============================] - 0s 1ms/step - loss: 198.4534
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 191.4032
Epoch 42/50
23/23 [==============================] - 0s 1ms/step - loss: 184.7576
Epoch 43/50
23/23 [==============================] - 0s 2ms/step - loss: 178.0510
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 172.9130
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 167.7960
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 163.4801
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 159.3805
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 155.8277
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 152.3647
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 149.4379

In [15]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 2ms/step - loss: 139.1727
10/10 [==============================] - 0s 4ms/step

139.1727294921875

In [16]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

139.17270266116648 0.0

In [17]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 91.75331115722656
10/10 [==============================] - 0s 2ms/step
MSE 2: 116.04656219482422
10/10 [==============================] - 0s 2ms/step
MSE 3: 94.25325775146484
10/10 [==============================] - 0s 2ms/step
MSE 4: 81.58324432373047
10/10 [==============================] - 0s 2ms/step
MSE 5: 56.182159423828125
10/10 [==============================] - 0s 2ms/step
MSE 6: 49.65441131591797
10/10 [==============================] - 0s 2ms/step
MSE 7: 59.00056076049805
10/10 [==============================] - 0s 2ms/step
MSE 8: 43.27541732788086
10/10 [==============================] - 0s 2ms/step
MSE 9: 46.97658920288086
10/10 [==============================] - 0s 2ms/step
MSE 10: 51.17279815673828
10/10 [==============================] - 0s 2ms/step
MSE 11: 47.0470085144043
10/10 [==============================] - 0s 2ms/step
MSE 12: 46.97188949584961
10/10 [==============================] - 0s 2ms/step
MSE 13: 54.31538391113281
10/10 [==============================] - 0s 2ms/step
MSE 14: 49.732215881347656
10/10 [==============================] - 0s 2ms/step
MSE 15: 48.63741683959961
10/10 [==============================] - 0s 2ms/step
MSE 16: 41.8182373046875
10/10 [==============================] - 0s 2ms/step
MSE 17: 48.78232192993164
10/10 [==============================] - 0s 2ms/step
MSE 18: 47.5816535949707
10/10 [==============================] - 0s 2ms/step
MSE 19: 58.973236083984375
10/10 [==============================] - 0s 1ms/step
MSE 20: 47.05022048950195
10/10 [==============================] - 0s 2ms/step
MSE 21: 42.50059509277344
10/10 [==============================] - 0s 2ms/step
MSE 22: 45.29901123046875
10/10 [==============================] - 0s 2ms/step
MSE 23: 44.5377197265625
10/10 [==============================] - 0s 2ms/step
MSE 24: 43.83769226074219
10/10 [==============================] - 0s 2ms/step
MSE 25: 44.77957534790039
10/10 [==============================] - 0s 2ms/step
MSE 26: 45.458221435546875
10/10 [==============================] - 0s 2ms/step
MSE 27: 49.58202362060547
10/10 [==============================] - 0s 2ms/step
MSE 28: 42.937007904052734
10/10 [==============================] - 0s 2ms/step
MSE 29: 59.11125946044922
10/10 [==============================] - 0s 2ms/step
MSE 30: 44.976402282714844
10/10 [==============================] - 0s 2ms/step
MSE 31: 47.49054718017578
10/10 [==============================] - 0s 2ms/step
MSE 32: 39.753753662109375
10/10 [==============================] - 0s 2ms/step
MSE 33: 45.60553741455078
10/10 [==============================] - 0s 2ms/step
MSE 34: 45.60216522216797
10/10 [==============================] - 0s 2ms/step
MSE 35: 49.690555572509766
10/10 [==============================] - 0s 2ms/step
MSE 36: 50.2399787902832
10/10 [==============================] - 0s 2ms/step
MSE 37: 48.96879196166992
10/10 [==============================] - 0s 2ms/step
MSE 38: 50.17674255371094
10/10 [==============================] - 0s 2ms/step
MSE 39: 42.027435302734375
10/10 [==============================] - 0s 2ms/step
MSE 40: 41.527610778808594
10/10 [==============================] - 0s 2ms/step
MSE 41: 49.466270446777344
10/10 [==============================] - 0s 2ms/step
MSE 42: 40.54256057739258
10/10 [==============================] - 0s 2ms/step
MSE 43: 44.166908264160156
10/10 [==============================] - 0s 3ms/step
MSE 44: 49.73493576049805
10/10 [==============================] - 0s 2ms/step
MSE 45: 46.89110565185547
10/10 [==============================] - 0s 2ms/step
MSE 46: 46.89897155761719
10/10 [==============================] - 0s 2ms/step
MSE 47: 45.78553009033203
10/10 [==============================] - 0s 2ms/step
MSE 48: 55.36615753173828
10/10 [==============================] - 0s 2ms/step
MSE 49: 44.64170455932617
10/10 [==============================] - 0s 2ms/step
MSE 50: 47.16509246826172
10/10 [==============================] - 0s 2ms/step


Below is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 51.511394193113276
Standard Deviation: 14.27544689183349